.recommended-card {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 50px 2vh;
  color: #000;

  &__description {
    margin: 8px 0px;
  }

  &__picture {
    img {
      width: 100%;
    }
  }

  &__cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;

    &-description {
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
    }

    &-icon {
      font-size: 20px;
    }
  }
}
