.card-caroussel {
  display: inline-block;
  margin-left: 10px;

  &__picture {
    height: 100%;
    width: 100%;

    img {
      height: 200px;
      width: auto;
    }
  }

  &__description {
    margin-top: 8px;
    margin-bottom: 0px;
  }

  &__price-container {
    margin-top: 8px;
    font-weight: bold;
  }
}
