.card {
  display: inline-block;
  margin-left: 10px;

  &__picture {
    height: 100%;
    width: 100%;

    img {
      width: 42vw;
      height: auto;
    }
  }

  &__description,
  &__price-container,
  &__sale-banner {
    margin-top: 8px;
    color: #000;
  }

  &__sale-banner {
    font-size: 14px !important;
  }

  &__description {
    margin-bottom: 0px;
  }

  &__price-container {
    font-weight: bold;
  }
}
