.empty-cart {
  display: inline-block;
  width: 100%;
  text-align: center;

  img {
    width: 70vw;
    max-width: 400px;
  }

  h2 {
    font-size: 20px;
  }

  // @media only screen and (min-width: 768px) {
  //   img {

  //   }
  // }
}
