.caroussel {
  padding-bottom: 50px;

  &__wrapper {
    // max-width: 1024px;
  }

  &__box {
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
    display: inline-block;
    -ms-overflow-style: none;
  }

  &__box::-webkit-scrollbar {
    display: none;
  }

  &__header {
    padding-left: 2vh;
  }

  &__list {
    margin: 0;
    padding-left: 2vh;
    position: relative;
    transform: translateZ(0) !important;
    transition: none;
    list-style-type: disc;
    display: flex;
    flex-flow: row nowrap;
  }
}
