/* Font imports */
@font-face {
    font-family: 'Brandon Text';
    src: url('../fonts/BrandonText-Regular.woff'),
         url('../fonts/BrandonText-Bold.woff');
}

* {
    box-sizing: border-box;
    font-family: 'Brandon Text', sans-serif;
}

/* Header */

.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.shadow {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header__menu-button {
    height: 100%;
}

.header__logo {
    width: 100%;
    padding: 0px 18px;
}

.header__logo svg {
    width: 120px;
    height: 100%;    
}

.header__right-icons-container {
    width: 80px;
    height: 100%;
    display: block;
    display: flex;
    justify-content: space-between;
}

main {
    background-color: rgb(255, 255, 255);
    margin-top: calc(3vh + 22px);
}

.main__header {
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(7, 7, 7, 0.801) 90%),
                url('../images/header-image.jpg'),
                no-repeat center center fixed;
    /* background-image: url('../images/header-image.jpg');
    background-color: #ccc;
    background-position: center; */
    background-size: cover; 
    background-blend-mode: hard-light;
    height: 95vh;
}

.main__header-container {
    width: 90vw;
    height: 180px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    text-align: center;
    margin-left: -45vw;
    margin-top: -180px;
}

.main__header-container h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

.header__button  {
    background-color: #000;
    color: #fff;
    border: 0;
    width: 250px;
    padding: 8px;
}

.card {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 50px 2vh;
}

.card__description {
    margin: 8px 0px;
}

.card__cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
}

.card__cta-description {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}

.card__cta-icon {
    font-size: 20px;
}

/* b {
    margin-left: 6px;
    font-size: 11px;
    align-self: center;
    margin-top: -3px;
} */

/* Carousel */

.caroussel {
    padding-bottom: 50px;
}

.caroussel__box {
    white-space: nowrap;
    /* overflow-y: hidden; */
    overflow-x: scroll;
    width: 100%;
    display: inline-block;
    -ms-overflow-style: none;
}

.caroussel__box::-webkit-scrollbar {
    display: none;
}

.caroussel__header {
    padding-left: 2vh;
}

.caroussel__list {
    margin: 0px;
    padding-left: 2vh;
    position: relative;
    transform: translateZ(0) !important;
    transition: none;
    display: block;
    list-style-type: disc;
    white-space: nowrap;
}

.card-caroussel {
    display: inline-block;
    margin-left: 10px;
}

.card-caroussel-wrapper {
    height: 100%;
    width: 100%;
}


.card-caroussel__clickable-area {
    text-decoration: none;
    color: #000;
    height: 100%;
    width: 100%;
}

.card-caroussel__picture {
    height: 100%;
    width: 100%;
}

.card-caroussel__picture img{
    height: 200px;
    width: auto;

}

.card-caroussel__description {
    margin-top: 8px;
    margin-bottom: 0px;
}

.card-caroussel__price-container {
    margin-top: 8px;
    font-weight: bold;
}

/* Page Footer */

.page-footer {
    /* background-color: #f8f8f8; */
    background-color: #E5E5E5;
    padding: 0px 2vh;
}

.social-media-container {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    border-bottom: solid 1px black;
}

.social-media-container i {
    padding: 0px 10px;
    font-size: 24px;
}

.footer-nav {
    border-bottom: solid 1px black;

}

.footer-nav__header-container [data-toggle='dropdown'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

.footer-nav__header-title {
    text-transform: uppercase;
}

.footer-nav__list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.footer-nav__list li{
    margin: 15px 0px;
}

.footer-nav__list li a {
    text-decoration: none;
    color: #000;
}

.footer-nav__list li:first-child{
    margin: 0px;
}

/* Animation */
.dropdown-menu {
    display: none;
}

.open {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

.close {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

.dropdown .show, .dropdown .hide {
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.dropdown .show {
    display: block;
    max-height: 9999px;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    
    animation: showAnimation 0.5s ease-in-out;
    -moz-animation: showAnimation 0.5s ease-in-out;
    -webkit-animation: showAnimation 0.5s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    -webkit-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
}

.dropdown .hide {
    max-height: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    animation: hideAnimation 0.4s ease-out;
    -moz-animation: hideAnimation 0.4s ease-out;
    -webkit-animation: hideAnimation 0.4s ease-out;
    -moz-transition: max-height 0.6s ease-out;
    -o-transition: max-height 0.6s ease-out;
    -webkit-transition: max-height 0.6s ease-out;
    transition: max-height 0.6s ease-out;
}


@keyframes showAnimation {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@-moz-keyframes showAnimation {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@-webkit-keyframes showAnimation {
    0% {
        -moz-transform: scaleY(0.1);
        -ms-transform: scaleY(0.1);
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    40% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.04);
        -ms-transform: scaleY(1.04);
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    100% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes hideAnimation {
    0% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

@-moz-keyframes hideAnimation {
    0% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

@-webkit-keyframes hideAnimation {
    0% {
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    60% {
        -moz-transform: scaleY(0.98);
        -ms-transform: scaleY(0.98);
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -moz-transform: scaleY(1.02);
        -ms-transform: scaleY(1.02);
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

/* Back to top button */
.back-to-top {
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 40px;
    z-index: 13;
    background: #000;
    border-radius: 50%;
    padding: 0;
    display: none;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,.5);
    right: 10px;
    color: #fff;
    border: none;
}

.back-to-top i {
    position: relative;
    z-index: 10;
    cursor: pointer;
    font-size: 28px;
    font-weight: 100;
}

button.back-to-top-btn:focus,button.back-to-top-btn:hover {
    background: #4c4c4c
}