.product__list {
  &__item {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    border-top: solid 1px #eee;
    padding: 20px 0px;
  }

  &__info {
    flex-basis: 70%;
  }

  &__thumb {
    flex-basis: 30%;
    img {
      width: 30vw;
    }
  }

  &__title {
    h3,
    p {
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 20px;
    }

    h3 {
      text-transform: uppercase;
    }
  }

  &__price {
    padding-bottom: 20px;

    span {
      font-weight: 600;
      width: 100%;
    }
  }

  &__qty {
    padding-bottom: 20px;
  }

  &__shipping {
    &__item {
      padding-bottom: 20px;
    }

    &-icon {
      flex-grow: 1;
      max-width: 42px;
    }

    &-info {
      flex-grow: 3;
    }
  }

  &__shipping__item {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }

  &__actions {
    display: flex;
    justify-content: space-evenly;

    button {
      background-color: #fff;
      border: none;
      color: #1462a9;
    }
  }

  @media only screen and (min-width: 768px) {
    &__item {
      width: 100%;
      flex-flow: row nowrap;
      justify-content: flex-start;

      &:last-of-type {
        border-bottom: solid 1px #eee;
      }
    }

    &__info {
      width: 100%;
      flex: auto;
      display: flex;
      flex-flow: row wrap;
    }

    &__thumb {
      text-align: center;

      img {
        height: 180px;
        width: auto;
      }
    }

    &__title {
      flex-basis: 33%;
    }

    &__shipping {
      flex-basis: 33%;

      &__item {
        padding-bottom: 20px;
      }
    }

    &__qty {
      flex-basis: 33%;
      text-align: center;
    }

    &__price {
      flex-basis: 33%;
      text-align: right;
    }
  }
}
