// Fonts
@font-face {
    font-family: 'Josefin Sans';
    src: url('./assets/fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('./assets/fonts/JosefinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./assets/fonts/JosefinSans-Thin.woff2') format('woff2'),
        url('./assets/fonts/JosefinSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./assets/fonts/JosefinSans-SemiBold.woff2') format('woff2'),
        url('./assets/fonts/JosefinSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./assets/fonts/JosefinSans-Medium.woff2') format('woff2'),
        url('./assets/fonts/JosefinSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./assets/fonts/JosefinSans-Light.woff2') format('woff2'),
        url('./assets/fonts/JosefinSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./assets/fonts/JosefinSans-Thin.woff2') format('woff2'),
        url('./assets/fonts/JosefinSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./assets/fonts/JosefinSans-ExtraLight.woff2') format('woff2'),
        url('./assets/fonts/JosefinSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./assets/fonts/JosefinSans-Bold.woff2') format('woff2'),
        url('./assets/fonts/JosefinSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

// HTML Reset
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans',Arial, Helvetica, sans-serif;
}

main {
  background-color: rgb(255, 255, 255);
  margin-top: calc(3vh + 22px);
}

.cta-button {
  background-color: #000;
  color: #fff;
  border: 0;
  width: 250px;
  padding: 8px;
}
