// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
// @include font-face('Brandon Text', assets/fonts/BrandonText-Regular);

// Icons
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Sharp|Material+Icons+Round|Material+Icons+Two+Tone');

// Global variables
@import "./design/scss-variables";


* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}