.list {
  margin: 61px 8px 0px;
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 100%;
    max-width: 1024px;
  }

  &__title {
    padding: 20px 0px 15px;
    font-size: 14px;
  }

  &__container {
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 40px;

    @media only screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      row-gap: 40px;
    }

    article {
      margin: 0;
      text-align: center;
    }
  }
}
