.header {
  margin-top: 61px;
  background: linear-gradient(
      rgba(0, 0, 0, 0) 50%,
      rgba(226, 226, 226, 0.349) 90%
    ),
    url("../../assets/img/header-image.jpg"), no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: hard-light;
  height: 95vh;

  &__container {
    width: 90vw;
    height: 180px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    text-align: center;
    margin-left: -45vw;
    margin-top: -180px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    align-items: center;

    h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 38px;
      margin: 0;
    }
  }

  &__button {
    display: inline-block;
    width: 70vw;
    max-width: 250px;
    height: 38px;
    min-width: 200px;
    background-color: #000;
    color: #fff;
    border: 0;
    padding: 8px;

    &:hover {
      background-color: #1a1a1a;
    }

    span {
      color: #fff;
      text-transform: uppercase;
    }
  }
}
