.payment {
  background-color: #f4f4f4;
  padding: 20px 12px;

  hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    border-color: #e3e3e3;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__description {
    h4,
    p {
      margin: 15px 0px;
    }

    h2 {
      font-size: 20px;
      font-weight: 400;
      margin: 20px 0px;
    }

    h4 {
      font-weight: 400;
    }

    &--right-align {
      text-align: right;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    width: 100%;
    background-color: #000;
    height: 50px;
    text-transform: uppercase;
    border: none;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  &__help {
    padding: 25px 0;

    a {
      display: inline-block;
      padding-top: 15px;
      text-decoration: none;
      color: #1462a9;
    }
  }

  @media only screen and (min-width: 768px) {
    background: #fff;
    width: 100%;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;

    &__help {
      padding: 0;
      order: 1;
      flex-basis: 55%;
    }

    &__info {
      order: 2;
      flex-basis: 45%;
    }

    h4 {
      margin-top: 0px;
    }

    hr {
      border: 0;
      height: 1px;
      background-color: #eee;
    }
  }
}
